* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: rgb(150, 7, 179);
  color: white;
  font-family: futura;
  height: 100vh;
}
body .container {
  width: 100%;
  margin: 0 auto;
  padding-left: 9px;
  padding-right: 9px;
}
body .container .gs-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -9px;
  margin-right: -9px;
}
body .container .gs-grid [class*=col-],
body .container .gs-grid .col {
  width: 100%;
  max-width: 100%;
  padding-left: 9px;
  padding-right: 9px;
}
body .container .gs-grid [class*=col-] .col-ex,
body .container .gs-grid .col .col-ex {
  display: -ms-grid;
  display: grid;
}
body .container .gs-grid .col {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 0px;
          flex: 1 0 0;
}
body .container .gs-grid .col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 8.3333333333%;
          flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
body .container .gs-grid .col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16.6666666667%;
          flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
body .container .gs-grid .col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 25%;
          flex: 0 0 25%;
  max-width: 25%;
}
body .container .gs-grid .col-4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.3333333333%;
          flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
body .container .gs-grid .col-5 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 41.6666666667%;
          flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
body .container .gs-grid .col-6 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}
body .container .gs-grid .col-7 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 58.3333333333%;
          flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
body .container .gs-grid .col-8 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66.6666666667%;
          flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
body .container .gs-grid .col-9 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 75%;
          flex: 0 0 75%;
  max-width: 75%;
}
body .container .gs-grid .col-10 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 83.3333333333%;
          flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
body .container .gs-grid .col-11 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91.6666666667%;
          flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
body .container .gs-grid .col-12 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

header {
  background: -webkit-gradient(linear, left top, left bottom, from(#007991), to(#63d1b0));
  background: linear-gradient(180deg, #007991, #63d1b0);
  height: 12vh;
}
header .img-logo {
  width: 140px;
  height: 90px;
}
header a {
  text-decoration: none;
}
header a h1 {
  font-size: 25px;
  color: white;
  margin-top: 15px;
  text-align: center;
}
header a .animate__animated .animate__rubberBand {
  -webkit-animation: animate__rubberBand;
          animation: animate__rubberBand;
  -webkit-animation-duration: 60s;
          animation-duration: 60s;
}
header .menu__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
header .menu__links {
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
header .menu__links .menu__item {
  list-style: none;
  position: relative;
  height: 100%;
  --clip: polygon(0 0, 100% 0, 0 0);
  --transform: rotate(-90deg);
}
header .menu__links .menu__item .menu__link {
  color: #fff;
  font-size: 14px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
header .menu__links .menu__item .menu__link:hover {
  border-radius: 5px;
  color: rgb(119, 5, 119);
}
header .menu__links .menu__item .menu__arrow {
  -webkit-transform: var(--transform);
          transform: var(--transform);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  display: block;
}
header .menu__links .menu__item .menu__nesting {
  list-style: none;
  -webkit-transition: -webkit-clip-path 0.3s;
  transition: -webkit-clip-path 0.3s;
  transition: clip-path 0.3s;
  transition: clip-path 0.3s, -webkit-clip-path 0.3s;
  -webkit-clip-path: var(--clip);
          clip-path: var(--clip);
  position: absolute;
  right: 0;
  bottom: 0;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
header .menu__links .menu__item .menu__nesting .menu__link--inside {
  font-size: 12px;
  background-color: rgba(33, 7, 179, 0.4);
  border-radius: 7px;
  padding: 3px;
  margin-top: 23px;
}
header .menu__links .menu__item .menu__nesting .menu__link--inside:hover {
  background-color: rgba(2, 168, 251, 0.6);
}
header .menu__links .menu__item a.menu__link.active {
  color: rgb(119, 5, 119);
}
header .menu__links .menu__item:hover {
  --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  --transform: rotate(0);
}

footer {
  background: -webkit-gradient(linear, left top, left bottom, from(#63d1b0), to(#007991));
  background: linear-gradient(180deg, #63d1b0, #007991);
  height: 8vh;
}
footer div div div nav {
  margin-top: 5px;
  margin-left: 0 !important;
}
footer div div div nav .breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  padding: 5px;
  margin-top: 5px;
  margin-left: 0;
}
footer div div div nav .breadcrumbs .breadcrumbs__item:not(:last-of-type)::after {
  content: ">";
  margin: 0 5px;
  color: rgba(74, 73, 73, 0.8);
  font-size: 15px;
}
footer div div div nav .breadcrumbs .breadcrumbs__item .breadcrumbs__link {
  padding: 5px;
  text-decoration: none;
  font-size: 14px;
  color: rgba(49, 48, 48, 0.6);
}
footer div div div nav .breadcrumbs .breadcrumbs__item .breadcrumbs__link-active {
  color: rgb(150, 7, 179);
  font-weight: 900;
}
footer div div div nav .breadcrumbs .breadcrumbs__item .breadcrumbs__link:hover {
  text-decoration: underline;
}
footer div div div .text-redes {
  font-size: 14px;
  text-align: center;
  margin-top: 10px;
  margin-left: 50px;
}
footer div div div .redes-sociales {
  width: 38px;
  height: 38px;
  margin-top: 5px;
  margin-left: 30px;
  font-size: 9px;
}

main {
  height: 80vh;
}
main .gs-grid div div .texto {
  font-size: 18px;
  margin-top: 30px;
}
main .gs-grid div div .texto__1 {
  margin-top: 20px;
  margin-bottom: 40px;
}
main .gs-grid .slider {
  width: 850px;
  height: 240px;
  overflow: hidden;
  margin-left: 50px;
}
main .gs-grid .slider ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation: cambio 20s infinite alternate linear;
          animation: cambio 20s infinite alternate linear;
  width: 400%;
}
main .gs-grid .slider ul li {
  width: 100%;
  list-style: none;
}
main .gs-grid .slider ul li img {
  width: 850px;
  height: 240px;
}
@-webkit-keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
@keyframes cambio {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
main .gs-grid article {
  height: 490px;
  background-color: rgba(2, 61, 255, 0.322);
  border: 2px;
  -webkit-box-shadow: 10px 10px 14px 4px rgba(0, 0, 0, 0.63);
  box-shadow: 10px 10px 14px 4px rgba(0, 0, 0, 0.63);
  margin-top: 5px;
  margin-left: 90px;
}
main .gs-grid article .img-art {
  width: 300px;
  height: 210px;
  margin-top: 10px;
}

.container h3 {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
}
.container section div div .texto__quienes {
  font-size: 14.3px;
  margin-left: 10px;
}
.container section div ul .li-quienes-s {
  font-size: 14.3px;
  margin-left: 25px;
}
.container div div .video-qs {
  width: 400px;
  height: 400px;
  margin-left: 50px;
}

.container h2 {
  margin-top: 10px;
}
.container section {
  margin-top: 35px;
}
.container section div div .card {
  position: relative;
  width: 300px;
  height: 350px;
}
.container section div div .card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.container section div div .card .front {
  -webkit-transform: perspective(600px) rotateY(0deg);
          transform: perspective(600px) rotateY(0deg);
  -webkit-box-shadow: 0 5px 10px #000;
          box-shadow: 0 5px 10px #000;
}
.container section div div .card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.container section div div .card .front h3 {
  position: absolute;
  bottom: 0;
  font-size: 30px;
  width: 100%;
  height: 45px;
  color: #fff;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  margin-left: 0;
}
.container section div div .card .back {
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
  background: rgb(3, 35, 54);
  padding: 15px;
  color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 0 5px 10px #000;
          box-shadow: 0 5px 10px #000;
}
.container section div div .card .back h4 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
  text-align: center;
}
.container section div div .card .back ul {
  margin-left: 10px;
}
.container section div div .card .back ul li {
  font-size: 20px;
  letter-spacing: 1px;
}
.container section div div .card .back .link {
  border-top: solid 1px #f3f3f3;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
.container section div div .card .back .link a {
  color: #f3f3f3;
}
.container section div div .card:hover .front {
  -webkit-transform: perspective(600px) rotateY(180deg);
          transform: perspective(600px) rotateY(180deg);
}
.container section div div .card:hover .back {
  -webkit-transform: perspective(600px) rotateY(360deg);
          transform: perspective(600px) rotateY(360deg);
}
.container .link__pag div .link__pag--der {
  text-decoration: none;
  color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: center;
  margin-right: 10px;
}

.container .link__pag div .link__pag--izqu {
  text-decoration: none;
  color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  margin-right: 10px;
  text-align: center;
}

.container section div div .texto__requi {
  font-size: 14px;
  margin-left: 10px;
}
.container section div div .img-req {
  width: 300px;
  height: 190px;
  margin-top: 45px;
  margin-left: 300px;
}
.container section .link__pag--izq {
  font-size: 15px;
  text-decoration: none;
  color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: center;
  margin-top: 200px;
  margin-right: 10px;
}
.container .link__pag--requi {
  margin-top: 0;
}
.container .link__pag--requi div .link__pag--der {
  font-size: 15px;
  text-decoration: none;
  color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: center;
  margin-right: 10px;
}
.container .link__pag--requi div .link__pag--izq {
  font-size: 15px;
  text-decoration: none;
  color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
  text-align: center;
  margin-top: 0;
  margin-right: 10px;
}

.contatiner section div div .texto-donativos {
  margin-bottom: 10px;
}

@font-face {
  font-family: futura;
  src: url(../assets/fuentes/FuturaHandwritten.ttf);
}