.container {
    section {
        div {
            div {
                form {
                    .label {
                        margin-top: 20px;
                    }

                    #enviar {
                        color: rgb(119, 5, 119);
                        cursor: pointer;
                        background-color: rgb(6, 178, 178);
                        border-radius: 5px;
                        border: 2px;
                        padding: 3px;
                        margin-top: 50px;
                    }
                    #enviar:hover{
                        color: #fff;
                        background-color: rgb(3, 3, 161);

                    }

                    #reset {
                        color: rgb(119, 5, 119);
                        cursor: pointer;
                        background-color: rgb(6, 178, 178);
                        border-radius: 5px;
                        border: 2px;
                        padding: 3px;
                    }
                    #reset:hover{
                        color: #fff;
                        background-color: rgb(3, 3, 161);

                    }
                }
            }
        }

        .mapa-contacto {
            border-radius: 7px;
            margin-left: 200px;
        }
    }



}