header {
    background: linear-gradient(180deg, #007991, #63d1b0);
    height: 12vh;

    .img-logo {
        width: 140px;
        height: 90px;
    }
h1{
    font-size: 30px;
    margin-top: 20px;
}
    .animate__animated .animate__rubberBand {
        animation: animate__rubberBand;
        animation-duration: 60s;
    }

    .menu__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
     }
      .menu__links{
        height: 100%;
        transition: transform .5s;
        display: flex;

        .menu__item{
            list-style: none;
            position: relative;
            height: 100%;
            --clip: polygon(0 0, 100% 0, 0 0);
--transform: rotate(-90deg);

.menu__arrow{
    transform: var(--transform);
}

       .menu__nesting{
        clip-path: var(--clip);
       }
        }
        .menu__item:hover{
            --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            --transform: rotate(0);
        }
      }  
    }
