header {
    background: linear-gradient(180deg, #007991, #63d1b0);
    height: 12vh;

    .img-logo {
        width: 140px;
        height: 90px;
    }

    a {
        text-decoration: none;

        h1 {
            font-size: 25px;
            color: white;
            margin-top: 15px;
        }

        .animate__animated .animate__rubberBand {
            animation: animate__rubberBand;
            animation-duration: 60s;
        }
    }

    .menu__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1200px;
        height: 100%;
        margin: 0 auto;
    }

    .menu__links {
        height: 100%;
        transition: transform .5s;
        display: flex;

        .menu__item {
            list-style: none;
            position: relative;
            height: 100%;
            --clip: polygon(0 0, 100% 0, 0 0);
            --transform: rotate(-90deg);

            .menu__link {
                color: #fff;
                font-size: 14px;
                text-decoration: none;
                padding: 0 15px;
                display: flex;
                height: 100%;
                align-items: center;
                margin-top: 40px;
            }

            .menu__link:hover {
                border-radius: 7px;
                background-color: rgba(33, 7, 179, 0.4);

            }

            .menu__arrow {
                transform: var(--transform);
                transition: transform .3s;
                display: block;
            }

            .menu__nesting {
                list-style: none;
                transition: clip-path .3s;
                clip-path: var(--clip);
                position: absolute;
                right: 0;
                bottom: 0;
                width: max-content;
                transform: translateY(100%);

                .menu__link--inside {
                    font-size: 12px;
                    background-color: rgba(33, 7, 179, 0.4);
                    border-radius: 7px;
                    padding: 3px;
                    margin-top: 10px;
                }

                .menu__link--inside:hover {
                    background-color: rgba(2, 168, 251, 0.4);
                }
            }

            a.menu__link.active {
                color: rgb(119, 5, 119);
            }

        }

        .menu__item:hover {
            --clip: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            --transform: rotate(0);
        }
    }
}