main {
    height: 80vh;

    section {
        div {
            div {
                .texto {
                    font-size: 18px;
                    margin-top: 20px;
                }

                .texto__1 {
                    margin-top: 20px;
                    margin-bottom: 40px
                }

                .slider {
                    width: 850px;
                    height: 240px;
                    overflow: hidden;
                    margin-left: 30px;

                    ul {
                        display: flex;
                        animation: cambio 20s infinite alternate linear;
                        width: 400%;

                        li {
                            width: 100%;
                            list-style: none;

                            img {
                                width: 850px;
                                height: 240px;
                            }
                        }
                    }
                    @keyframes cambio {
                        0% {
                            margin-left: 0;
                        }

                        20% {
                            margin-left: 0;
                        }

                        25% {
                            margin-left: -100%;
                        }

                        45% {
                            margin-left: -100%;
                        }

                        50% {
                            margin-left: -200%;
                        }

                        70% {
                            margin-left: -200%;
                        }

                        75% {
                            margin-left: -300%;
                        }

                        100% {
                            margin-left: -300%;
                        }
                    }
                }
            }
        }

        article {
            width: 350px;
            height: 480px;
            background-color: rgba(2, 61, 255, 0.322);
            border: 2px;
            -webkit-box-shadow: 10px 10px 14px 4px rgba(0, 0, 0, 0.63);
            box-shadow: 10px 10px 14px 4px rgba(0, 0, 0, 0.63);
            margin-top: 5px;
            margin-left: 90px;

            .sub-art {
                margin-top: 10px;
                text-align: center;
            }

            div {
                div {
                    section {

                        div {

                            div {
                                div {
                                    #img-art1 {
                                        width: 300px;
                                        height: 190px;

                                    }
                                }
                            }

                            div {
                                div {
                                    #img-art2 {
                                        width: 300px;
                                        height: 190px;
                                        margin-top: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}