* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(80, 6, 97);
    background: linear-gradient(23deg, rgba(80, 6, 97, 1) 11%, rgba(195, 37, 137, 0.6726287927280288) 47%, rgba(71, 4, 94, 1) 91%);
    color: map-get($paleta-color , "texto" );
    font-family: futura;
    height: 100vh;

    .container {
        width: 100%;
        margin: 0 auto;
        padding-left: $gap / 2;
        padding-right: $gap / 2;


        .gs-grid {
            display: flex;
            flex-wrap: wrap;
            margin-left: $gap / -2;
            margin-right: $gap / -2;


            [class*="col-"],
            .col {
                width: 100%;
                max-width: 100%;
                padding-left: $gap / 2;
                padding-right: $gap / 2;

                .col-ex {
                    display: grid;
                    // place-items: center;

                }
            }

            .col {
                flex: 1 0 0;
            }

            @for $col from 1 through $cols {
                .col-#{$col} {
                    flex: 0 0 (100% / $cols) * $col;
                    max-width: (100% / $cols) * $col;
                }
            }
        }
    }
}