@media screen and (max-width: 1400px) {
    main {
        section {
            div {
                div {
                    .texto {
                        font-size: 25px;

                    }

                    .texto__1 {
                        font-size: 25px;
                    }

                    .slider {
                        width: 850px;
                        height: 340px;
                        margin-left: 30px;

                        ul {
                            li {
                                img {
                                    width: 850px;
                                    height: 340px;
                                }
                            }
                        }

                    }
                }
            }

            article {
                width: 350px;
                height: 690px;


                .sub-art {
                    font-size: 20px;
                    margin-top: 10px;
                    text-align: center;
                }

                div {
                    div {
                        section {

                            div {

                                div {
                                    div {
                                        #img-art1 {
                                            width: 300px;
                                            height: 250px;

                                        }
                                    }
                                }

                                div {
                                    div {
                                        #img-art2 {
                                            width: 300px;
                                            height: 250px;
                                            margin-top: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1370px) {
    main {
        section {
            div {
                div {
                    .texto {
                        font-size: 23px;

                    }

                    .texto__1 {
                        font-size: 23px;
                        margin-bottom: 15px;
                    }

                    .slider {
                        width: 850px;
                        height: 210px;


                        ul {
                            li {
                                img {
                                    width: 850px;
                                    height: 210px;
                                }
                            }
                        }

                    }
                }
            }

            article {
                width: 350px;
                height: 480px;

                .sub-art {
                    font-size: 20px;
                    margin-top: 10px;
                    text-align: center;
                }

                div {
                    div {
                        section {
                            div {
                                div {
                                    div {
                                        #img-art1 {
                                            width: 300px;
                                            height: 160px;

                                        }
                                    }
                                }

                                div {
                                    div {
                                        #img-art2 {
                                            width: 300px;
                                            height: 190px;
                                            margin-top: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    main {
        section {
            div {
                div {
                    .texto {
                        font-size: 23px;

                    }

                    .texto__1 {
                        font-size: 23px;
                        margin-bottom: 15px;
                    }

                    .slider {
                        width: 720px !important;
                        height: 310px;
                        margin-left: 5px;

                        ul {
                            li {
                                img {
                                    width: 720px !important;
                                    height: 310px;
                                }
                            }
                        }

                    }
                }
            }

            article {
                width: 350px;
                height: 600px;
                margin-left: 10px;

                .sub-art {
                    font-size: 20px;
                    margin-top: 10px;
                    text-align: center;
                }

                div {
                    div {
                        section {
                            div {
                                div {
                                    div {
                                        #img-art1 {
                                            width: 280px;
                                            height: 170px;
                                        }
                                    }
                                }

                                div {
                                    div {
                                        #img-art2 {
                                            width: 280px;
                                            height: 200px;
                                            margin-top: 50px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    main {
        section {
            div {
                div {
                    .texto {
                        font-size: 20px;
                    }

                    .texto__1 {
                        font-size: 20px;
                        
                    }

                    .slider {
                        width: 600px !important;
                        height: 330px;
                        margin-top: 10px !important;
                        margin-left: 5px;

                        ul {
                            li {
                                img {
                                    width: 600px !important;
                                    height: 330px;
                                }
                            }
                        }

                    }
                }
            }

            article {
                width: 300px;
                height: 600px;
                margin-left: 10px;

                .sub-art {
                    font-size: 20px;
                    margin-top: 10px;
                    text-align: center;
                }

                div {
                    div {
                        section {
                            div {
                                div {
                                    div {
                                        #img-art1 {
                                            width: 230px;
                                            height: 170px;
                                        }
                                    }
                                }

                                div {
                                    div {
                                        #img-art2 {
                                            width: 230px;
                                            height: 180px;
                                            margin-top: 50px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    @include grid-system(md__col);

    main {
        section {
            div {
                div {
                    .texto {
                        font-size: 18px;
                        text-align: center;
                    }

                    .texto__1 {
                        font-size: 18px;
                        text-align: center;
                        margin-bottom: 30px;
                    }

                    .slider {
                        width: 600px !important;
                        height: 300px;
                        margin-top: 30px;
                        margin-left: 70px;

                        ul {
                            li {
                                img {
                                    width: 600px !important;
                                    height: 300px;
                                }
                            }
                        }

                    }
                }
            }

            article {
                width: 730px;
                height: 200px;
                margin-top: 25px;
                margin-left: 20px;
display: none;
                .sub-art {
                    font-size: 20px;
                    margin-top: 5px;
                    text-align: center;
                }

                div {
                    div {
                        section {
                            div {
                                div {
                                    div {
                                        #img-art1 {
                                            width: 230px;
                                            height: 120px;
                                            margin-top: 0;
                                            margin-left: 200px;
                                        }
                                    }
                                }

                                div {
                                    div {
                                        #img-art2 {
                                            width: 130px;
                                            height: 50px;
                                            margin-top: 10px;
                                            display: none;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}