@media screen and (max-width: 1400px) {
    main {
        section {
            div {
                div {
                    .texto {
                        font-size: 25px;

                    }

                    .texto__1 {
                        font-size: 25px;
                    }

                    .slider {
                        width: 850px;
                        height: 340px;
                        margin-left: 30px;

                        ul {
                            li {
                                img {
                                    width: 850px;
                                    height: 340px;
                                }
                            }
                        }

                    }
                }
            }

            article {
                width: 350px;
                height: 690px;


                .sub-art {
                    font-size: 20px;
                    margin-top: 10px;
                    text-align: center;
                }

                div {
                    div {
                        section {

                            div {

                                div {
                                    div {
                                        #img-art1 {
                                            width: 300px;
                                            height: 250px;

                                        }
                                    }
                                }

                                div {
                                    div {
                                        #img-art2 {
                                            width: 300px;
                                            height: 250px;
                                            margin-top: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1370px) {
    main {
        section {
            div {
                div {
                    .texto {
                        font-size: 23px;

                    }

                    .texto__1 {
                        font-size: 23px;
                        margin-bottom: 15px;
                    }

                    .slider {
                        width: 850px;
                        height: 210px;


                        ul {
                            li {
                                img {
                                    width: 850px;
                                    height: 210px;
                                }
                            }
                        }

                    }
                }
            }

            article {
                width: 350px;
                height: 480px;

                .sub-art {
                    font-size: 20px;
                    margin-top: 10px;
                    text-align: center;
                }

                div {
                    div {
                        section {
                            div {
                                div {
                                    div {
                                        #img-art1 {
                                            width: 300px;
                                            height: 160px;

                                        }
                                    }
                                }

                                div {
                                    div {
                                        #img-art2 {
                                            width: 300px;
                                            height: 190px;
                                            margin-top: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {
    main {
        section {
            div {
                div {
                    .texto {
                        font-size: 23px;

                    }

                    .texto__1 {
                        font-size: 23px;
                        margin-bottom: 15px;
                    }

                    .slider {
                        width: 850px;
                        height: 210px;


                        ul {
                            li {
                                img {
                                    width: 850px;
                                    height: 210px;
                                }
                            }
                        }

                    }
                }
            }

            article {
                width: 350px;
                height: 480px;

                .sub-art {
                    font-size: 20px;
                    margin-top: 10px;
                    text-align: center;
                }

                div {
                    div {
                        section {
                            div {
                                div {
                                    div {
                                        #img-art1 {
                                            width: 300px;
                                            height: 160px;

                                        }
                                    }
                                }

                                div {
                                    div {
                                        #img-art2 {
                                            width: 300px;
                                            height: 190px;
                                            margin-top: 30px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}