.container {
    h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 20px;
    }

    section {
        div {
            div {
                .texto__quienes {
                    font-size: 14.3px;
                    margin-left: 10px;
                }
            }

            ul {
                .li-quienes-s {
                    font-size: 14.3px;
                    margin-left: 25px;
                }
            }
        }
    }

    div {
        div {
            .video-qs {
                width: 400px;
                height: 400px;
                margin-left: 50px;
            }
        }
    }
}