.container{
    section{
        div{
            div{
                .texto__requi{
                    font-size: 14px;
                    margin-left: 10px;
               }
                .img-req{
                    width: 300px;
                    height: 190px;
                    margin-top: 45px;
                    margin-left: 300px;
                }     
            }
        }
        .link__pag--izq {
            font-size: 15px;
            text-decoration: none;
            color: #f3f3f3;
            display: flex;
            justify-content: right;
            text-align: center;
            margin-top: 200px;
            margin-right: 10px;
    }
 }
    .link__pag--requi {
        margin-top: 0;
        div {
            .link__pag--der {
                font-size: 15px;
                text-decoration: none;
                color: #f3f3f3;
                display: flex;
                justify-content: right;
                text-align: center;
                margin-right: 10px;
                
            }
            .link__pag--izq {
                font-size: 15px;
                text-decoration: none;
                color: #f3f3f3;
                display: flex;
                justify-content: right;
                text-align: center;
                margin-top: 0;
                margin-right: 10px;
        }
    }
}
}